/*-------------------------------
 * Home Page Grid settings
 *-----------------------------*/

.home_grid {
    position: relative;
    max-width:100%;
    margin:0 auto;  /* 中央寄せ */
}

.grid_item {
    display: block;      /* 必須 */
    position: absolute;  /* 必須 */
    margin: 2px;    /* アイテム間のマージン(この2倍になる) */
    z-index: 1;
    width: calc(100% / 5 - 11px);
    /*
     width:calc(25% - 11px);
     height:calc(25vw - 11px);
     */
}
.grid_item_content {
  position: relative;
  width: 100%;
  height: 100%;
  border:1px solid black;
  color: black;
  margin: 2px;
  padding: 1px;
}

.grid_item_content ul {
  margin: 1px;
  padding: 1px;
}

.grid_item_content ul li {
  margin: 1px;
  padding: 1px;
  font-size: x-small;
}

/* 877ピクセル幅以下になったら3カラム化 */
@media ( max-width : 877px ){
    .grid_item{
        width:calc(33.33% - 11px);
        height:calc(33.33vw - 11px);
    }
}
/* 640ピクセル幅以下になったら2カラム化 */
@media ( max-width : 640px ){
    .grid_item{
        width:calc(50% - 10px);
        height:calc(50vw - 10px);
    }
}

.grid_item.muuri-item-dragging {
  z-index: 3;
}
.grid_item.muuri-item-releasing {
  z-index: 2;
}
.grid_item.muuri-item-hidden {
  z-index: 0;
}
