{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{# {% load compress %} #}

{% block title %}
{{ block.super }}
{% endblock %}

<!-- header --->
{% block extrahead %}
    {% comment %}
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.0.1/collection/components/icon/icon.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endcomment %}
    <link rel='stylesheet' href="{% static 'node_modules/onsenui/css/onsenui.min.css' %}" type='text/css' />
    <link rel='stylesheet' href="{% static 'node_modules/onsenui/css/onsen-css-components.min.css' %}" type='text/css' />
    <script type='text/javascript' src="{% static 'node_modules/onsenui/js/onsenui.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>

    <link rel='stylesheet' href="{% static 'node_modules/onsenui/css/material-design-iconic-font/css/material-design-iconic-font.min.css' %}" type='text/css' />
    <link rel='stylesheet' href="{% static 'node_modules/onsenui/css/ionicons/css/ionicons.min.css' %}" type='text/css' />
    <link rel='stylesheet' href="{% static 'node_modules/onsenui/css/font_awesome/css/fontawesome.min.css' %}" type='text/css' />

    {% comment %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.71.1/dist/L.Control.Locate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.71.1/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    {% endcomment %}

    <link rel='stylesheet' href="{% static 'node_modules/leaflet/dist/leaflet.css' %}" type='text/css' />
    <script type='text/javascript' src="{% static 'node_modules/leaflet/dist/leaflet.js' %}"></script>
    <link rel='stylesheet' href="{% static 'node_modules/leaflet.locatecontrol/dist/L.Control.Locate.min.css' %}" type='text/css' />
    <script type='text/javascript' src="{% static 'node_modules/leaflet.locatecontrol/dist/L.Control.Locate.min.js' %}"></script>

    {% comment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.11.0/css/jquery.fileupload.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.11.0/css/jquery.fileupload-ui.min.css" />
    {% endcomment %}
    <link rel='stylesheet' href="{% static 'node_modules/blueimp-file-upload/css/jquery.fileupload.css' %}" type='text/css' />
    <link rel='stylesheet' href="{% static 'node_modules/blueimp-file-upload/css/jquery.fileupload-ui.css' %}" type='text/css' />

{% endblock %}

<!-- body --->
{% block content %}
<ons-navigator id="appNavigator" swipeable swipe-target-width="80px">
    <ons-page>
        <ons-splitter id="appSplitter">
            <ons-splitter-side id="sidemenu" page="{% static 'brownbags/html/sidemenu.html' %}" swipeable side="right" collapse="" width="260px"></ons-splitter-side>
            <ons-splitter-content page="tabbar.html"></ons-splitter-content>
        </ons-splitter>
    </ons-page>
</ons-navigator>

<ons-template id="tabbar.html">
<ons-page>
    <ons-toolbar>
        <div class="center" id="toolbar-title">よこはま かわさき BENTO MAP</div>
        <div class="right">
            <ons-toolbar-button onclick="fn.toggleMenu()">
                <ons-icon icon="fa-bars"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-tabbar position="bottom" animation="none">
        <ons-tab label="ホーム" icon="fa-home" page="{% static 'brownbags/html/home.html' %}" active>
        </ons-tab>
        <ons-tab label="お店を探す" icon="fa-list" page="{% static 'brownbags/html/list.html' %}">
        </ons-tab>
        <ons-tab label="マップ" icon="fa-map" active-icon="fa-map-o" page="{% static 'brownbags/html/map.html' %}">
        </ons-tab>
        <ons-tab label="お店の登録" icon="fa-cog" active-icon="fa-cogs" page="{% static 'brownbags/html/form.html' %}">
        </ons-tab>
        <ons-tab label="アプリについて" icon="fa-info" page="{% static 'brownbags/html/about.html' %}">
        </ons-tab>
    </ons-tabbar>
</ons-page>
</ons-template>


{% endblock %}

<!-- body css --->
{% block css %}
{# {% compress css %}  #}
<link rel="stylesheet" href="{% static 'brownbags/css/brownbags.css' %}">
{#  {% endcompress %}  #}
{% endblock %}

<!-- body javascript --->
{% block js %}
{% comment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.12.0/js/vendor/jquery.ui.widget.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.12.0/js/jquery.iframe-transport.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.12.0/js/jquery.fileupload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.12.0/js/jquery.fileupload-ui.min.js"></script>
{% endcomment %}
<script type='text/javascript' src="{% static 'node_modules/jquery.iframe-transport/jquery.iframe-transport.js' %}"></script>
<script type='text/javascript' src="{% static 'node_modules/blueimp-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
<script type='text/javascript' src="{% static 'node_modules/blueimp-file-upload/js/jquery.fileupload.js' %}"></script>
<script type='text/javascript' src="{% static 'node_modules/blueimp-file-upload/js/jquery.fileupload-ui.js' %}"></script>

{# Unite Gallery #}
<link rel='stylesheet' href="{% static 'node_modules/unitegallery/dist/css/unite-gallery.css' %}" type='text/css' />
<script type='text/javascript' src="{% static 'node_modules/unitegallery/dist/js/unitegallery.min.js' %}"></script>
<link rel='stylesheet' href="{% static 'node_modules/unitegallery/dist/themes/default/ug-theme-default.css' %}" type='text/css' />
<script type='text/javascript' src="{% static 'node_modules/unitegallery/dist/themes/default/ug-theme-default.js' %}"></script>

{% comment %}
<script type='text/javascript' src="{% static 'node_modules/unitegallery/dist/themes/tiles/ug-theme-tiles.js' %}"></script>
<script type='text/javascript' src="{% static 'node_modules/unitegallery/dist/themes/carousel/ug-theme-carousel.js' %}"></script>
<script type='text/javascript' src="{% static 'node_modules/unitegallery/dist/themes/tilesgrid/ug-theme-tilesgrid.js' %}"></script>
<script type='text/javascript' src="{% static 'node_modules/unitegallery/dist/themes/grid/ug-theme-grid.js' %}"></script>
<script type='text/javascript' src="{% static 'node_modules/unitegallery/dist/themes/compact/ug-theme-compact.js' %}"></script>
{% endcomment %}

{% comment %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endcomment %}

{% comment %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
{% endcomment %}
<script type='text/javascript' src="{% static 'node_modules/jquery-blockui/jquery.blockUI.js' %}"></script>

{# {% compress js %} #}
<script type="text/javascript" src="{% static 'brownbags/js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'brownbags/js/form.js' %}"></script>
<script type="text/javascript" src="{% static 'brownbags/js/info.js' %}"></script>
<script type="text/javascript" src="{% static 'brownbags/js/list.js' %}"></script>
<script type="text/javascript" src="{% static 'brownbags/js/map.js' %}"></script>
<script type="text/javascript" src="{% static 'brownbags/js/brownbags.js' %}"></script>
{# {% endcompress %}  #}
{% endblock %}
