{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- GoogleAnalytics -->
    {% include 'google.html' %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}{% trans 'よこはま かわさき BENTO MAP' %}{% endblock title %}</title>

    {% block extrahead %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/csrf_token.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utility.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/post.js' %}"></script>

    {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock %}
</body>
</html>
